/* -- Custom Styles -- */
html body {
  /* background-color: #29242e !important; */
}

img {
  margin-bottom: 50px;
  /* border: 4px solid #fff; */
}

/* .link-link {
  background-color: #00b490;
} */

.link-email {
  background-color: #00b490;
}

svg rect {
  fill: #7e22ce;
}

#chart-wrapper {
  margin-bottom: 1rem;
}

/* @supports (-webkit-touch-callout: none) {
  .h-screen {
    height: -webkit-fill-available;
  }
} */